<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	lang="es">
<head>
    <title>Principal</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js" ></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/style_index.css" rel="stylesheet" media="screen"/>
</head>

<body> 
    
    <nav th:replace="fragments/nav :: nav"></nav>
    
    <div class="conatiner mt-4">
        <div class="left-panel-index col-3 mx-auto">
            <img class="avatar center-content" src="img/snow.png">
            <p class="name text-center" th:text=${userTransfer.name}></p>
            <p class="nick text-center" th:text="@+${userTransfer.nickname}"></p>
            <p class="nick text-center" th:text="@+${userTransfer.email}"></p>
            <p class="bio text-center" th:text="· ${userTransfer.birthday} ·"></p>
            <p class="bio text-center" th:text="· ${userTransfer.description} ·"></p>
            <!-- 
            <div>
                <a href=""><i class="material-icons mr-3">explore</i>Winterfell, GOT</a><br>
                <a href=""><i class="material-icons mr-3">language</i>winteriscoming.com</a><br>
                <div class="center-content">
                    <img class="social" src="img/facebook.png">
                    <img class="social" src="img/twitter.png">
                </div>
            </div>
 			-->
            <button type="button" class="btn button content-button mt-3"><i class="material-icons mr-2">edit</i>Edit profile</button>

        </div>
    </div>
</body>
</html>