<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="head">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="icon" href="img/m3-tab.png">
	
	<!-- Styles -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	
	<!-- Javascripts -->
	<script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <script type="text/javascript">
		const m3 = {
			socketUrl: '[[${session.ws}?:false]]',
			apiUrl: '[[${session.ws}?@{/api/v/}:false]]',
			csrf: {
				name: "[[${_csrf.parameterName}]]",
				value: "[[${_csrf.token}]]"
			},
			admin: [[${session.u != null && session.u.hasRole('admin')}?'true':'false']],
			userId: [[${session.u != null}?${session.u.id}:-1]]
		};
	</script>
	
</th:block>
<body>
	Head fragment - rest intentionally left empty.
</body>
</html>
