<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Nav fragment - rest intentionally left empty</title>
</head>
<body>
	<nav th:fragment="nav">
		<a class="logo" href="" th:href="@{/}"></a>
		<span class="sitename">Karmómetro</span>

		<span class="logx" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
			<a th:href="@{/user/{id}(id=${session.u.id})}" th:text="${session.u.login}">Pepe</a>
			<a th:href="@{/logout}" href="/logout">logout</a>
		</span>
		<span class="logx" th:if="not ${#authorization.expression('hasRole(''ROLE_USER'')')}">
			<a th:href="@{/login}" href="/login">login</a>
			<span class="debug" th:if="${application.debug}">
				<form th:action="@{/login}" method="post">
					<input type="hidden" name="username" value="a">
					<input type="hidden" name="password" value="a">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					<button type="submit">a</button>
  				</form>
				<form th:action="@{/login}" method="post">
					<input type="hidden" name="username" value="p">
					<input type="hidden" name="password" value="p">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					<button type="submit">p</button>
  				</form>
				<form th:action="@{/login}" method="post">
					<input type="hidden" name="username" value="q">
					<input type="hidden" name="password" value="q">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					<button type="submit">q</button>
  				</form>
				<form th:action="@{/clase/enter}" method="post">
					<input type="hidden" name="userName" value="x">
					<input type="hidden" name="groupCode" value="test">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					<button type="submit">x</button>
  				</form>
				<form th:action="@{/clase/enter}" method="post">
					<input type="hidden" name="userName" value="y">
					<input type="hidden" name="groupCode" value="test">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					<button type="submit">y</button>
  				</form>  				  				
				<form th:action="@{/clase/enter}" method="post">
					<input id="z" type="hidden" name="userName" value="z">
					<input type="hidden" name="groupCode" value="test">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					<button type="submit">z</button>
  				</form> 
	<script>
	window.addEventListener('load', () => {
		document.getElementById('z').value = "z" + Math.floor(Math.random()*1000);		        	
	});
	</script>  				
  			</span>
		</span>		
	</nav>
</body>
</html>
