<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	lang="es">
<head>
	<title>Nav fragment - rest intentionally left empty</title>
</head>
<body>
	<nav class="nav nav-expand-lg nav-dark bg-dark center-content" th:fragment="nav">

        <div class="nav-nav">
        	<img src="img/logoM3.png" width="40px" height="40px">
            <a class="nav-item nav-link" href="#"><i class="material-icons mr-3">home</i></a>
            <a class="nav-item nav-link" href="#"><i class="material-icons mr-3">folder_open</i></a>
            <a class="nav-item nav-link" href="#"><i class="material-icons mr-3">group</i></a>
            <a class="nav-item nav-link" href="#"><i class="material-icons mr-3">brightness_low</i></a>
        </div>
	
	<!-- 
		<a class="logo" href="" th:href="@{/}"></a>
		<span class="sitename">Karmómetro</span>

		<a class="logx" 
			th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}" 
			th:href="@{/logout}" href="/logout">logout</a>
		<a class="logx" 
			th:if="not ${#authorization.expression('hasRole(''ROLE_USER'')')}" 
			th:href="@{/login}" href="/login">login</a>		
	 -->
	</nav>
</body>
</html>
