.question .others {
	color: gray;
}
.question div.bars {
	display: inline-block;
	border-right: 1px solid gray;
}
.question div {
	margin: 0;
	border: none;
	padding: 2px;
}
.question span.barlabel {
	display: inline-block;
	width: 3em;
	text-align: right;
}
.question input {
	position: relative;
	top: 5px;
}
.ask textarea {
	margin: 10px;
}

.question div.metadata {
	float: right;
	text-align: right;
}
div.metadata span {
	color: gray;
	font-size: 7pt;
	display: block;
}

.polls h4, .questions h4, .newquestion h4,
.polls h4+p, .questions h4+p {
	display: inline-block;
	margin: 10px 0 10px 0;	
}
.polls h4+p, .questions h4+p {
	margin-left: 10px;
	color: gray;
}