.player-container {
    background-color: #616b7d;
}

.player {
    border-bottom: 2px solid #4b5362;
}

.player-title {
    background-color: #4b5362;
}

.playlist-title {
    border-bottom: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
}

.playlist-title span {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.player-title-name {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.player-title-subname {
    font-size: 20px;
    color: #ffffff;
}

/* Elemento de la playlist */
.thumbnail {
    border: 2px solid #4b5362;
    border-right: 1px;
}

.multim-info{
    color: #ffffff;
    border: 2px solid #4b5362;
    border-left: 1px;
}

.info-title {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
}

/* Buttons */
.btn {
    color: #ffffff;
    background-color: #616b7d;
}

.btn:hover {
    background-color: #4b5362;
}

.btn:active {
    background-color: #282A2E;
}