@import url(https://fonts.googleapis.com/css?family=Istok+Web);
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Didact+Gothic);

* {
    font-family: 'Istok Web';
}

.left-panel-index {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
    padding-top: 20px;
    padding-bottom: 20px;
    /*background: linear-gradient(42deg, rgba(42,46,54,1) 0%, rgba(97,107,125,1) 100%);*/
    border-left: 8px solid rgba(97,107,125,1);
    box-shadow: 0px 0px 37px -9px rgba(0,0,0,0.75);
    border-radius: 20px;
}

.center-content, .add_group_and_search, .add_group, .content-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel {
    padding-top: 20px;
    padding-bottom: 20px;
    /*border-bottom: 1px solid rgba(97,107,125,1);*/
    box-shadow: 0px 0px 37px -9px rgba(0,0,0,0.75);
    border-radius: 20px;
   /* border-left: 8px solid rgba(97,107,125,1);*/
    border-left: 12px solid  rgba(62,181,169,1);
  
}




.title-section{
    font-size: 40px;
    color: rgba(62,181,169,1);
    
}




.button {
    background: linear-gradient(0deg, rgba(62,181,169,1) 0%, rgba(111,226,204,1) 100%);
    color: white;
    border-radius: 30px; 
}

.button-second {
    background: linear-gradient(0deg, rgba(42,46,54,1) 0%, rgba(97,107,125,1) 100%); 
    color: white;
    border-radius: 30px;
}

.button:hover {
    background: none;
    border-color: #5FD1C1 !important;
    color: #5FD1C1;
}

.btn-group, .dropdown-item{
    display: flex !important;
    align-items: center;
   
    
}


.list-group-item > a, .link {
    color: rgba(62,181,169,1);
    font-weight: bold;
     
}

hr {
    border-color: rgba(97,107,125,1);
    margin:70px 150px;
}


.button-search {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background:  rgba(97,107,125,1);
    background: linear-gradient(0deg, rgba(42,46,54,1) 0%, rgba(97,107,125,1) 100%); 
    width: 70px;
}

.button-search:hover {
    background: none;
    border-color: rgba(42,46,54,1) !important;
    color: rgba(42,46,54,1);
}


  /*    CHAT    */

  .panel-chat {
      display: flex;
      flex-direction: column;
      width: 700px;
      border-radius: 30px;
      border:1px solid rgba(97,107,125,1);
      box-shadow: 0px 0px 37px -9px rgba(0,0,0,0.75);
  }

  .name-group-chat {     
    display: flex; 
    justify-content: center;
    height: 60px;
    border-bottom:1px solid rgba(97,107,125,1); 
     
     
  }


  .text-chat {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top:1px solid rgba(97,107,125,1); 
    height: 60px; 
    background: linear-gradient(0deg, rgba(42,46,54,1) 0%, rgba(97,107,125,1) 100%); 
  }

.panel-msg-chat {
    height: 600px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f7f7f7;
    overflow: auto;
}

.borderless {
      border-bottom:none;
      border-top:none;
}

.align-right {
    text-align: right;
}

.button-send{
    border-radius: 15px;
    width: 60px;
    margin-left: 10px;
}

  /*    FRIENDS   */

.profile-image {
    border-radius: 80px;
    width: 75px;
    height: 75px;
    box-shadow: 0px 2px 30px 0px rgb(66, 64, 64), 0px 0px 0px 1px rgba(97,107,125,1);
}

.profile-name {
    margin-left: 40px;
    text-align: left;
}

.button-discard-friendship-request {
    width: 150px;
    max-height: 40px;
    background: linear-gradient(0deg, rgba(42,46,54,1) 0%, rgba(97,107,125,1) 100%); 
}

.button-discard-friendship-request:hover {
    background: none;
    border-color: rgba(42,46,54,1) !important;
    color: rgba(42,46,54,1);
}

.button-accept-friendship-request {
    width: 150px;
    max-height: 40px;
    position: relative;
    left: 80px;
}

.friendship-request {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.friendship-request-profile-name {
    text-align: left !important;
}

/*  PROFILE */
.avatar {
    width: 120px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 100px;
    background-color: rgba(62,181,169,1);
    box-shadow: 0 0 10px black;
}

.name {
    font-size: 120%;
    font-weight: bold;
}

.nick {
    color: rgba(62,181,169,1);
    font-size: 90%;
    font-weight: bold;
    font-style: italic;
}

.bio {
    font-style: italic;
    font-size: 90%;
}

img.social {
    width: 32px;
    margin: 4px 8px;
}

/* SHARE */

.share-image {
    
    width: 400px;
    height: auto;
    margin-bottom: 5px;
    box-shadow: 0px 2px 30px 0px rgb(66, 64, 64), 0px 0px 0px 1px rgba(97,107,125,1);
}

