@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300);


/* LOGIN PANEL DERECHO */
.login {
    margin: 0;
    margin-top:90px;
    width: 100%;
    height: 100%;
    
}

/* PANEL DERECHO */
.panel-der{
    position: relative;
    z-index: 0;
    float: none;
    margin: 0 auto;
    padding-top: 40px;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background: linear-gradient(42deg, rgba(42,46,54,1) 0%, rgba(97,107,125,1) 100%);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border-top: 1px solid #4FC1B7;
}




/* PANEL IZQUIERDO */

.panel-izq {
    position: fixed;
    z-index: 1;
    float: none;
    margin: 0 auto;
    width: 100%;
    height: 40px;
    background: linear-gradient(0deg, rgba(62,181,169,1) 0%, rgba(111,226,204,1) 100%);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
}

.texto-carousel{
    display: flex;
    margin-top: 170px;
    text-align: center;
    color: white;

}


/* TOGGLE */
#toggle-wrap {
    position: absolute;
    z-index: 4;
    top: 40px;
    right: 17px;
    width: 80px;
    height: 1px;
}
#toggle-terms span {
  background: #fff;
  border-radius: 0;
}




/* SLIDESHOW */
#slideshow div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em 3em;
    background-repeat: no-repeat;
    background-size: cover;
}


/* FORM  */


.form-wrap a {
    color: #ccc;
    padding-bottom: 4px;
    border-bottom: 1px solid #5FD1C1;
}
.form-wrap a:hover {
    color: #fff;
}


.form-wrap .tabs-content div[id$="tab-content"] {
    display: none;
}
.form-wrap .tabs-content .active {
    display: block !important;
}
.form-wrap form .input {
    margin: 0 0 .8em 0;
    padding: .8em 2em 10px 0;
    width: 100%;
    display: inline-block;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #5A6374;
    outline: 0;
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    color: #fff;
    border-color: inherit;
}
.form-wrap form .input.is-invalid {
	border-color: #FF5757;
}
.form-wrap form .input.is-valid {
	border-color: #62D6C4;
}
.invalid-feedback {
	font-size: 15px;
	color:#FF5757;
}
.form-wrap form .button {
    margin: 1em 0;
    padding: .2em 3em;
    width: auto;
    display: block;
    background-color: #28A55F;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: .8em;
    border-radius: 30px;
    background: linear-gradient(180deg, rgba(105,221,201,1) 0%, rgba(78,193,182,1) 100%);
    box-shadow: 0px 0px 37px -9px rgba(0,0,0,0.75);
}

.form-wrap form .checkbox {
    margin: 1em 0;
    padding: 20px;
    visibility: hidden;
    text-align: left;
}
.form-wrap form .checkbox:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.form-wrap form label[for] {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
}
.form-wrap form label[for]:before {
    position: absolute;
    width: 17px;
    height: 17px;
    top: 0px;
    left: -14px;
    content: '';
    border: 1px solid #5A6374;
}
.form-wrap form label[for]:after {
    position: absolute;
    top: 1px;
    left: -10px;
    width: 15px;
    height: 8px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    background-color: transparent;
    border: solid #67DAC6;
    border-width: 0 0 3px 3px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}



/* MEDIUM VIEWPORT */
@media only screen and (min-width: 40em) {
   
    /* WRAP */
    .wrap {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 600px;
        height: 500px;
        margin: auto;
        border-radius: 10px;
    }
    
    /* PANEL IZQUIERDO */
    .panel-izq {
        position: relative;
        float: left;
        width: 50%;
        height: 500px;
        box-shadow: -3px 0px 45px -6px rgba(56,75,99,0.61);
        border-radius: 10px 0 0 10px;
    }
   
    /* PANEL DERCECHO */
    .panel-der {
        padding-top: 0;
        float: left;
        width: 50%;
        height: 500px;
        box-shadow: -3px 0px 45px -6px rgba(56,75,99,0.61);
        border-radius: 0 10px 10px 0;
        border: 0;
    }
   
   
    
   
}
/* LARGE VIEWPORT */
@media only screen and (min-width: 60em) {
  
    .wrap {
        width: 900px;
        height: 550px;
    }
   
    .panel-izq, .panel-der {
        height: 550px;
    }
    
    .form-wrap {
        margin: 5em auto 0;
    }
    .form-wrap .tabs-content {
        padding: 1.5em 4.9em;
    }
}

/* CSS MODIFY PROFILE */
.h-auto{
    height:auto;
}


/* CSS PLAYER */
.player-container {
    background: linear-gradient(42deg, rgba(42,46,54,1) 0%, rgba(97,107,125,1) 100%);
}

.player {
    border-bottom: 2px solid #4b5362;
}

.player-title {
    background-color: #4b5362;
}

.playlist-title {
    border-bottom: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
}

.playlist-title span {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.player-title-name {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.player-title-subname {
    font-size: 20px;
    color: #ffffff;
}

/* Elemento de la playlist */
.thumbnail {
    border: 2px solid #4b5362;
    border-right: 1px;
}

.multim-info{
    color: #ffffff;
    border: 2px solid #4b5362;
    border-left: 1px;
    background: linear-gradient(42deg, rgba(42,46,54,1) 0%, rgba(97,107,125,1) 100%);
}

.info-title {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
}

/* Buttons */
.btn {
    color: #ffffff;
    background-color: transparent;
}

.btn:active {
    background-color: #282A2E;
}


/* CSS CHAT */
.msg-organization {
    background-color: #f7f7f7;
}

.message {
    margin: 5px 0px;
    background-color: #ffffff;
    padding: 16px 30px;
    border: 1px solid #dee2e6 !important;
}

.message-center {
    margin: 5px auto;
    border-radius: 30px;
    color: #ffffff;
    background: linear-gradient(0deg, rgba(62,181,169,1) 0%, rgba(111,226,204,1) 100%);
}

.message-left {
    margin-right: auto;
    border-radius: 30px 30px 30px 0px;
}

.message-right {
    margin-left: auto;
    border-radius: 30px 30px 0px 30px;
}