<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head.html :: head">
	<meta charset="utf-8">
	<title>Title goes here</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css" type="text/css"/>
</head>
<body>
	<nav th:replace="fragments/nav.html :: nav">
		Nav goes here
	</nav>
	
	<div class="container">
	<div class="main">

	<div th:if="${session.u eq null}">
		<h4>Registro en clase</h4>
		<form th:action="@{/vote/enter}" method="POST">
			<input name="userName" placeholder="Nombre de usuario" value="x"/>
			<input name="groupCode" placeholder="Código de la clase" value="test"/>
			<button type="submit">Enviar</button>
		</form>
	</div>		
	<div class="polls" th:unless="${session.u eq null}">
		<h4>Encuestas</h4>
		<p>Sirven para medir el karma general de la clase</p>
		<div th:each="q: ${polling}" class="question" th:id="|q_${q.id}|">
			<form class="vote" th:action="@{/api/v/{qid}(qid=${q.id})}" method="post">
				<div class="metadata">
					<span class="delta"
						th:attr="data-timestamp=${q.time.time}" 					
						th:text="${application.dateFormatter.format(q.time)}">YYYY-MM-DDTHH:mm:ss.sssZ</span>
					<img class="userthumb" 
						th:alt="${q.author.login}" th:src="@{/user/{id}/photo(id=${q.author.id})}">
				</div>
				<div class="bars">
				<div class="me">
					<span class="barlabel">👤</span>
					<input type="range" name="vote" min="0" max="100" value="0"/>
					<span class="numeric">??</span>
				</div>
				<div class="others">
					<span class="barlabel">👥 ×0</span>
					<input disabled type="range" min="0" max="100" value="0"/>
					<span class="numeric">??</span>
				</div>
				</div>
				<span class="qtext" th:text="${q.text}">El texto de la pregunta</span>
				<button class="delq" th:if="${session.u.hasRole('admin')} or ${session.u.id} eq ${q.author.id}">🗑</button>
			</form>
		</div>
	</div>
	<div class="questions" th:unless="${session.u eq null}">
		<h4>Preguntas</h4>
		<p>Dudas puntuales que quieres que el profesor resuelva</p>
		<div th:each="q: ${asking}" class="question" th:id="|q_${q.id}|">
			<form class="vote" th:action="@{/api/v/{qid}(qid=${q.id})}" method="post">
				<div class="metadata">
					<span class="delta"
						th:attr="data-timestamp=${q.time.time}" 					
						th:text="${application.dateFormatter.format(q.time)}">YYYY-MM-DDTHH:mm:ss.sssZ</span>
					<img class="userthumb" 
						th:alt="${q.author.login}" th:src="@{/user/{id}/photo(id=${q.author.id})}">
				</div>				<div class="bars">
				<div class="me">
					<span class="barlabel">👤</span>
					<input type="range" name="vote" min="0" max="100" value="0"/>
					<span class="numeric">??</span>
				</div>
				<div class="others">
					<span class="barlabel">👥 ×0</span>
					<input disabled type="range" min="0" max="100" value="0"/>
					<span class="numeric">??</span>
				</div>
				</div>
				<span class="qtext" th:text="${q.text}">El texto de la pregunta</span>
				<button class="delq" th:if="${session.u.hasRole('admin')} or ${session.u.id} eq ${q.author.id}">🗑</button>
			</form>
		</div>
	</div>
	<div class="newquestion">
		<h4>Nueva encuesta ó pregunta puntual</h4>
		<form class="ask" th:action="@{/api/q}" method="POST">
			<textarea cols="60" rows="3" name="text" 
				placeholder="Tu pregunta aquí..."></textarea>
			<br>
			<label for="poll_t">encuesta</label>
			<input id="poll_t" type="radio" name="poll" value="true"/>
			<label for="poll_f">pregunta</label>
			<input id="poll_f" type="radio" name="poll" checked value="false"/>
			<button type="submit">Enviar</button>
		</form>
	</div>		
	
	</div> <!-- container -->
	</div> <!-- main -->
	
	<footer th:replace="fragments/footer.html :: footer">
		Footer goes here
	</footer>
	
	<script>
	const handleVote = (votes) => {
		// {q_1: [ {1: 11}, {2, 22} ]}
        for (let qid in votes) {
        	const div = document.getElementById(qid); // q_123
        	const span = div.querySelector(".others .numeric"); 
        	const slider = div.querySelector(".others input");
        	const mySlider = div.querySelector(".me input");
        	const barlabel = div.querySelector(".others .barlabel");
        	if (div) {
        		const vote = votes[qid];
        		let total = 0;
        		let count = 0;
        		for (let vid in vote) {
        			total += vote[vid];
					count ++;        			
        		}
        		const avg = count == 0 ? 0 : total/count; 
        		span.innerText = Math.floor(avg);
        		slider.value = avg;
        		barlabel.innerText = "👥 ×" + count; 
        		if (vote[km.userId]) {
        			mySlider.value = vote[km.userId];     		
        		}
        	}
        }		
	}
	
	const handleQuestion = (question) => {
		// {"id":2,"votes":null,"author":{"id":4,"login":"z775"},"text":"asdf asdf","poll":false}
		question.time = new Date(question.time * 1000); // fix timestamp
		addQuestion(question);
	}
	
	const handleMessage = (o) => {
		console.log(o);
        if (o.vote) handleVote(o.vote);
        if (o.question) handleQuestion(o.question);
        if (o.deletion) {
        	document.getElementById("q_"+o.deletion).remove();
        }
	}
	
	window.addEventListener('load', () => {
		ws.receive = (text) => {
			console.log("just in:", text);
		    try {
		        const o = JSON.parse(text);
		        handleMessage(o);
		    } catch (e) {
		    	console.log("...not json: ", e);
		    }
		}
		
		handleMessage([[${votes}]]);
	});
	</script>
</body>
</html>
