<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head.html :: head">
	<meta charset="utf-8">
	<title>Title goes here</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css" type="text/css"/>
</head>
<body>
	<nav th:replace="fragments/nav.html :: nav">
		Nav goes here
	</nav>
	
	<div class="container">
	<div class="main">

	<div th:if="${session.u eq null}">
		<h4>Registro en clase</h4>
		<form th:action="@{/vote/enter}" method="POST">
			<input name="userName" placeholder="Nombre de usuario" value="x"/>
			<input name="groupCode" placeholder="Código de la clase" value="test"/>
			<button type="submit">Enviar</button>
		</form>
	</div>		
	<div th:unless="${session.u eq null}">
		<h4>Preguntas</h4>
		<div th:each="q: ${questions}" class="question" th:id="|q_${q.id}|">
			<form class="vote" th:action="@{/api/v/{qid}(qid=${q.id})}" method="post">
				<div class="bars">
				<div class="me">
					<span class="barlabel">👤</span>
					<input type="range" name="vote" min="0" max="100" value="0"/>
					<span class="numeric">??</span>
				</div>
				<div class="others">
					<span class="barlabel">👥 ×0</span>
					<input disabled type="range" min="0" max="100" value="0"/>
					<span class="numeric">??</span>
				</div>
				</div>
				<span class="qtext" th:text="${q.text}">El texto de la pregunta</span>
			</form>
		</div>		
		<h4>Nueva pregunta</h4>
		<form class="ask" th:action="@{/api/q}" method="POST">
			<textarea cols="80" rows="3" name="text" 
				placeholder="Tu pregunta aquí..."></textarea>
			<br>
			<label for="poll_t">encuesta</label>
			<input id="poll_t" type="radio" name="poll" value="true"/>
			<label for="poll_f">pregunta</label>
			<input id="poll_f" type="radio" name="poll" value="false"/>
			<button type="submit">Enviar</button>
		</form>
	</div>		
	
	</div> <!-- container -->
	</div> <!-- main -->
	
	<footer th:replace="fragments/footer.html :: footer">
		Footer goes here
	</footer>
	
	<script>
	const csrf = {
			name: "[[${_csrf.parameterName}]]",
			value: "[[${_csrf.token}]]"
	};
	
	const handleVote = (vote) => {
		// {q_1: [1, 2, 3, 4]}
        for (let k in vote) {
        	const div = document.getElementById(k); // q_123
        	const span = div.querySelector(".others .numeric"); 
        	const slider = div.querySelector(".others input");
        	const barlabel = div.querySelector(".others .barlabel");
        	if (div) {
        		const n = vote[k].length;
        		const avg = vote[k].reduce((a,c)=>a+c) / n;
        		span.innerText = Math.floor(avg);
        		slider.value = avg;
        		barlabel.innerText = "👥 ×" + n; 
        	}
        }		
	}
	
	const handleQuestion = (question) => {
		// {"id":2,"votes":null,"author":{"id":4,"login":"z775"},"text":"asdf asdf","poll":false}
		addQuestion(question);
	}
	
	window.addEventListener('load', () => {
		ws.receive = (text) => {
			console.log("just in:", text);
		    try {
		        const o = JSON.parse(text);
		        console.log(o);
		        if (o.vote) handleVote(o.vote);
		        if (o.question) handleQuestion(o.question);		        
		    } catch (e) {
		    	console.log("...not json: ", e);
		    }
		}
	});
	</script>
</body>
</html>
