<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	lang="es">
<head>
    <title>Grupos</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js" ></script> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/style_index.css" rel="stylesheet" media="screen"/>
    
</head>

<body> 
        
	<nav th:replace="fragments/nav :: nav"></nav>
      
	<div class="container col-10 mt-5">
	
		<div class="left-panel-index col-3">
		    <img class="avatar center-content" src="img/snow.png">
		    <p class="name text-center">John Snow</p>
		    <p class="nick text-center">@snow</p>
		    <p class="bio text-center">· I know nothing, my friends killed me once, my parents are dead... but I have a white wolf! =) ·</p>
		    <div class="border-top">
		        <a href=""><i class="material-icons mr-3">explore</i>Winterfell, GOT</a><br>
		        <a href=""><i class="material-icons mr-3">language</i>winteriscoming.com</a><br>
		        <div class="center-content">
		            <img class="social" src="img/facebook.png">
		            <img class="social" src="img/twitter.png">
		        </div>
		    </div>
		        
		    <div class="border-top"> 
		        <button type="button" class="btn button content-button mt-3"><i class="material-icons mr-3">photo_library</i> Images</button>
		        <button type="button" class="btn button content-button mt-3"><i class="material-icons mr-3">videocam</i> Videos</button>
		        <button type="button" class="btn button content-button mt-3"><i class="material-icons mr-3">library_music</i> Music</button>
		    </div>
		</div>
	
		<div class="right-panel col-9">
		    <div class="add_group_and_search">
		        <button class="btn button add_group mr-5"><i class="material-icons mr-3">group_add</i> Create group</button>
		
		        <form class="form-inline  border-left border-dark center-content pl-5">
		         <input class="form-control" type="search" placeholder="Search a group" aria-label="Search">
		         <button class="btn button button-search my-2 my-sm-0" type="submit"><i class="material-icons center-content">search</i></button>
		        </form>
		    </div>
	
	        <div class="panel ml-5 mt-5">
		        <p class="title-section ml-4 center-content">GROUPS <i class="material-icons title-section ml-4">group</i></p>
		        <ul class="list-group list-group-flush">
		            <li class="list-group-item">
		            	<div class="btn-group dropright">
		                	<i class="material-icons mr-3">group</i><a class="link" href="">Familia</a>
		                	<button type="button" class="btn dropdown-toggle ml-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
		                 	<div class="dropdown-menu">
								<a class="dropdown-item" href="#"><i class="material-icons mr-2">remove_red_eye</i>View members</a>
								<a class="dropdown-item" href="#"><i class="material-icons mr-2">share</i>Share with group</a>
								<a class="dropdown-item" href="#"><i class="material-icons mr-2">exit_to_app</i>Leave the group</a>
		                 	</div>
		                </div>
		            </li>
	
	                <li class="list-group-item">
						<div class="btn-group dropright">
							<i class="material-icons mr-3">group</i><a class="link" href="">Verano</a>
							<button type="button" class="btn dropdown-toggle ml-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
							<div class="dropdown-menu">
							    <a class="dropdown-item" href="#"><i class="material-icons mr-2">remove_red_eye</i>View members</a>
							    <a class="dropdown-item" href="#"><i class="material-icons mr-2">share</i>Share with group</a>
							    <a class="dropdown-item" href="#"><i class="material-icons mr-2">exit_to_app</i>Leave the group</a>
							</div>
						</div>
	                </li>
	                <li class="list-group-item">
						<div class="btn-group dropright">
							<i class="material-icons mr-3">group</i><a class="link" href="">Quedadas</a>
							<button type="button" class="btn dropdown-toggle ml-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#"><i class="material-icons mr-2">remove_red_eye</i>View members</a>
								<a class="dropdown-item" href="#"><i class="material-icons mr-2">share</i>Share with group</a>
								<a class="dropdown-item" href="#"><i class="material-icons mr-2">exit_to_app</i>Leave the group</a>
							</div>
						</div>
	                </li>
	            </ul>
        	</div>      
    	</div>

	</div>
           
</body>
</html>