<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head.html :: head">
	<meta charset="utf-8">
	<title>Title goes here</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css" type="text/css"/>
</head>
<body>
	<nav th:replace="fragments/nav.html :: nav">
		Nav goes here
	</nav>
	
	<div class="container">
	<div class="main">
	
	<h1 th:text="#{index.welcome}">Bienvenido a la plantilla de IW</h1>
	
	<p>
	El Karmómetro te permite dos cosas: experimentar con una aplicación que más o menos funciona, y 
	conseguir que el profe sepa, en tiempo real, lo que te parece la clase. ¿Problemas de timidez? 
	¡Karmómetro es 100% anónimo, no te quedes con dudas! ¿Al contrario, tus compañeros dicen que preguntas demasiado? 
	¡Karmómetro les permite votar sólo tus preguntas interesantes!	
	</p>
	
	<div th:if="${session.u == null}">
	<h4>Entra en una clase</h4>
	<form th:action="@{/clase/enter}" method="POST">
		<input name="userName" placeholder="Nombre de usuario"/>
		<input name="groupCode" placeholder="Código de la clase"/>
		<button type="submit">Enviar</button>				
	</form>
	<p>
		(El profesor debería escribir el código de la clase en la pizarra)
	</p>
	</div>
	
	</div>
	</div>
		
	<footer th:replace="fragments/footer.html :: footer">
		Footer goes here
	</footer>
</body>
</html>
